/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Luckiest Guy", cursive;
}

body {
  font-family: "Luckiest Guy", cursive;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

img {
  border: none;
  background: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* TOPO */
header {
  z-index: 2;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.menu {
  display: flex;
  gap: 50px;
  width: 700px;
  justify-content: flex-end;

}

.menu li {
  padding-top: 1%;
  display: flex;
}

.menu li a {
  margin: 0 auto;
  color: #fff;
  font-size: 24px;
}

.menu li a:hover {
  text-decoration: underline;
}

.contact {
  max-width: 300px;
}

.contact a {
  padding-top: 5px;
  width: 239px;
  height: 40px;
  border-radius: 10px;
  background: #3A838B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
}

.contact a:hover {
  background: #F5BB33;
}

/* PAGINA 1 */
#home {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  background-size: cover;
}

.home-content {
  padding-top: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.home-content img{
  transition: cubic-bezier(0.86, 0, 0.07, 1);
}

#center-h2 {
  font-size: 48px;
  color: #9c9935;
}


/* PAGINA 2 */
#sobre-nos {
  width: 100%;
  height: 100%;
  background-color: #333028;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  padding-left: 5%;
  padding-right: 5%;
}

#sobre-nos img{
  border-radius: 10px;
}

#sobre-nos-div {
  width: 50%;
}

#sobre-nos-div h1 {
  color: #F5BB33;
  font-size: 100px;
}

#sobre-nos-div p {
  font-size: 32px;
  color: #fff;
}

/* Animações */
#animation-seta {
  width: 200px;
}

#animation-rosquinha {
  width: 80px;
}



#animation-bart {
  width: 200px;
}



/* PAGINA 3 */
#cardapio {
  width: 100%;
  height: 170%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cardapio h1 {
  padding-top: 5%;
  color: #fff;
  font-size: 100px;
}


.container {
  height: 100vh;
  width: 100vw;
  max-height: 500px;
  max-width: 1280px;
  min-height: 200px;
  min-width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.border {
  height: 400px;
  width: 380px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.border:hover {
  border: 1px solid #fff;
}
.card {
  height: 400px;
  width: 380px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card0 {
  background: url("https://static.wixstatic.com/media/396e33_a1e1105ba20f4268be1d1248d91aad0c~mv2.jpg/v1/fill/w_640,h_408,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/396e33_a1e1105ba20f4268be1d1248d91aad0c~mv2.jpg") center center repeat;
  background-size: 600px;
}
.card0:hover {
  background: url("https://static.wixstatic.com/media/396e33_a1e1105ba20f4268be1d1248d91aad0c~mv2.jpg/v1/fill/w_640,h_408,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/396e33_a1e1105ba20f4268be1d1248d91aad0c~mv2.jpg") center center repeat;
  background-size: 900px;
}
.card0:hover h3 {
  opacity: 1;
}

.card1 {
  background: url("https://conteudo.imguol.com.br/45/2018/07/17/mao-santa-burguer-1531851949973_v2_900x506.jpg") center center repeat;
  background-size: 600px;
}
.card1:hover {
  background: url("https://conteudo.imguol.com.br/45/2018/07/17/mao-santa-burguer-1531851949973_v2_900x506.jpg") center center repeat;
  background-size: 900px;
}
.card1:hover h3 {
  opacity: 1;
}

.card2 {
  background: url("https://www.kcms.com.br/blog/wp-content/uploads/2022/03/cardapio-de-hamburgueria.jpg") center center repeat;
  background-size: 600px;
}
.card2:hover {
  background: url("https://www.kcms.com.br/blog/wp-content/uploads/2022/03/cardapio-de-hamburgueria.jpg") center right repeat;
  background-size: 900px;
}
.card2:hover h3 {
  opacity: 1;
}

h3 {
  font-family:'luckiest guy';
  color: white;
  margin: 20px;
  font-size: 30px;
  opacity: 0;
  transition: opacity 1s;
}

.container2 {
  width: 100vw;
  max-width: 1280px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.card3 {
  background: url("https://acheiemniteroi.com.br/wp-content/uploads/2022/07/Umah-Hamburgueria.jpeg") center center repeat;
  background-size: 500px;
}
.card3:hover {
  background: url("https://acheiemniteroi.com.br/wp-content/uploads/2022/07/Umah-Hamburgueria.jpeg") center center repeat;
  background-size: 900px;
}
.card3:hover h3 {
  opacity: 1;
}

.card4 {
  background: url("https://sorocaba.com.br/wp-content/uploads/2022/05/c1c05153-f6b6-471f-a45d-276750cc5c1a.jpeg") center center repeat;
  background-size: 450px;
}
.card4:hover {
  background: url("https://sorocaba.com.br/wp-content/uploads/2022/05/c1c05153-f6b6-471f-a45d-276750cc5c1a.jpeg") center center repeat;
  background-size: 900px;
}
.card4:hover h3 {
  opacity: 1;
}

.card5 {
  background: url("https://d31hw7dq38n1ek.cloudfront.net/Imagens/Noticias/Sistema/abc/hamburguerias_em_sao_caetano_do_sul_atlantis_burger_abc_paulista.jpg") center center repeat;
  background-size: 500px;
}
.card5:hover {
  background: url("https://d31hw7dq38n1ek.cloudfront.net/Imagens/Noticias/Sistema/abc/hamburguerias_em_sao_caetano_do_sul_atlantis_burger_abc_paulista.jpg") center center repeat;
  background-size: 700px;
}
.card5:hover h3 {
  opacity: 1;
}

/* PAGINA 4 */
#localizacao{
  width: 100%;
  height: 100%;
  background-color: #333028;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#localizacao h1 {
  color: #F4AB33;
  font-size: 100px;
  margin-bottom: 5%;
}


.mapa{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.mapa p{
  margin-top: 2%;
  max-width: 600px;
  font-size: 32px;
  color: #fff;
}
iframe{
  border-radius: 8%;
}